-----------------------

Are you a software developer who:

- Works with Ruby/Rails
- Wants to be a better software developer
- Wants to bring more value to your team 
- Wants to make more money doing it

**And wants to do all this in the most time-efficient way possible?**

Great. Punch in your email:

<script async data-uid="b69af6ca8e" src="https://josh-thompson.ck.page/b69af6ca8e/index.js"></script>

_Of course, you don't have to be a software developer to subscribe. It's easy to unsubscribe at any point._ 😉