<hr>
<p>Are you a software developer who:</p>
<ul>
<li>Works with Ruby/Rails</li>
<li>Wants to be a better software developer</li>
<li>Wants to bring more value to your team </li>
<li>Wants to make more money doing it</li>
</ul>
<p><strong>And wants to do all this in the most time-efficient way possible?</strong></p>
<p>Great. Punch in your email:</p>
<script async data-uid="b69af6ca8e" src="https://josh-thompson.ck.page/b69af6ca8e/index.js"></script>

<p><em>Of course, you don&#39;t have to be a software developer to subscribe. It&#39;s easy to unsubscribe at any point.</em> 😉</p>
