<hr />

<p>I write a lot about software development.</p>

<p>Want to learn about how to be a better software developer, bring more value in less time to your company and team, and make more money along the way?</p>

<p>I know Ruby/Rails best, so we'll be discussing a lot of that.</p>

<script async data-uid="b69af6ca8e" src="https://josh-thompson.ck.page/b69af6ca8e/index.js"></script>

<p>Of course, you don't have to be a software developer to subscribe. It's easy to unsubscribe at any point. 😉</p>