// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60.25%;
    margin-bottom: 10%;
    margin-left:auto;
    margin-right:auto
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
}

body {
  color: $body-color;
  background-color: $body-bg;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: $link-color;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
}

.twitter-tweet {
  display: block;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


// ***********************
// **      TAGS         **
// ***********************

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}

.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}
