.testamonial {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  text-align: center;
  img {
    float: left;
    width: 85px;
    margin-right: 20px;
    border-radius: 50%;
    margin: auto;
    float: none;
    display: block;
  }
}


