.stripe_button {
  background-color:$blue;
  color:#FFF;
  padding:8px 12px;
  border:0;
  border-radius:4px;
  font-size:1em;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    background: #2f3d89;
  }
}
