.stripe_button_container {
  text-align: center;
}

.stripe_button {
  text-align: center;
  background-color:$blue;
  color:#FFF;
  padding:8px 12px;
  border:0;
  border-radius:4px;
  font-size:1em;
  margin: auto;
  width: 50%;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    background: #2f3d89;
  }
}

.stripe_payment_card_row {
  display: flex;
}

.payment_card {
  flex: 50%;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  width: 50%;
  display: block;
  background-color: #bfd7ea;
  padding: 1em;
}