/* * {
  border: dashed 1px;
  border-color: black;  
  color: red;
} */

/* 00 start */

html.step0 {
  border: dashed 1px;
  border-color: black;
  color: blue;
}

html.step1 #content {
  display: block;
  margin: 0 auto;
  max-width: 50em;
}

html.step1 #centering {
  display: block;
}

.hidden {
  display: none;
}