/* Global/initial settings */
.hidden {
  display: none;
}

/* 00 Start */



/* 01 Centering */

html.step1 #centering {
  display: block;
}

html.step1 header,
html.step1 main {
  margin: 0 auto;
  max-width: 50em;
}

/* 02 Text Styling */

html.step2 #font-family {
  display: block;
}

html.step2 body {
  font-family: "Helvetica", "Arial", sans-serif;
}


