---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <p class="entry-tags">{% for tag in page.tags %}<a href="{{ site.baseurl }}/tags#{{ tag | cgi_escape | downcase }}" title="Posts tagged {{ tag }}" rel="tag">{{ tag | downcase }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}</p>


  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: '%B %Y' }}</time>
  {{ content }}
</article>

{% include newsletter.html %}

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
